<!-- footer -->
<footer class="container-fluid" id="footer">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="hidden">
				Contact Us
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
	 		<div class="col-xs-6 col-sm-4">
				<div class="panel panel-default panel-1">
					<a href="https://www.google.com/maps/place/548+Market+St,+San+Francisco,+CA+94104/@37.790024,-122.4030218,17z/data=!3m1!4b1!4m2!3m1!1s0x808580627b5ea1d1:0x60fd99496057cf74" target_"blank" target="_blank" alt="548 Market St #33899 San Francisco, CA 94104-5401">San Francisco, CA</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="panel panel-default panel-2">
					855-692-6629
				</div>
			</div>
			<div class="col-xs-3 col-sm-1">
				<div class="panel panel-default panel-3">
					<a href="mailto:info@subledger.com">
						<span class="fa fa-envelope social-media-2x">
						</span>
					</a>
				</div>
			</div>
			<div class="col-xs-3 col-sm-1">
				<div class="panel panel-default panel-4">
					<a href="mailto:support@subledger.com">
						<span class="fa fa-life-ring social-media-2x">
						</span>
					</a>
				</div>
			</div>
			<div class="col-xs-3 col-sm-1">
				<div class="panel panel-default panel-5">
					<a href="https://twitter.com/subledger" target="_blank">
						<span class="fa fa-twitter-square social-media-2x">
						</span>
					</a>
				</div>
			</div>
			<div class="col-xs-3 col-sm-1">
				<div class="panel panel-default panel-6">
					<a href="https://www.linkedin.com/company/2742370?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2742370%2Cidx%3A1-1-1%2CtarId%3A1447356112316%2Ctas%3Asubledger" target="_blank">
					<span class="fa fa-linkedin-square social-media-2x">
					</span>
					</a>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 copywrite">
			<span class="rwd-line">&copy; Subledger</span> | Web Design by <a href="http://www.linkedin.com/in/droualdes" target="_blank">David Roualdes</a>
		</div> 
	</div>
</footer>