<!-- footer for home pages -->
<footer class="container-fluid" id="footer">
	<div class="row">
		<header class="col-sm-12 text-center">
			<h2>
				Let's have a conversation!
			</h2>
			<img src="{{ "/images/starbucks-coffee.png" | relative_url }}" alt="coffee">
			<p>
				Nearby? We're often available to get together to discuss your needs over a cup of coffee.
			</p>
		</header>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<p>
				<strong>
					855-692-6629
					<br>
					<a href="mailto:info@subledger.com">
						info@subledger.com
					</a>
					<br>
					<a href="mailto:support@subledger.com">
						support@subledger.com
					</a>
				</strong>
			</p>
			<p>
				<a href="https://twitter.com/subledger" target="_blank">
					<span class="fa fa-twitter-square fa-2x social-media-2x">
					</span>
				</a>
				<a href="https://www.linkedin.com/company/boocx-inc-/about/" target="_blank">
					<span class="fa fa-linkedin-square fa-2x social-media-2x">
					</span>
				</a>
			</p>
			<p class="small">
				&copy; 2014 Subledger
				<br>
				548 Market St #33899
				<br>
				San Francisco, CA 94104-5401
			</p>
			<a onclick="$('body').animatescroll({scrollSpeed:2000,easing:'easeInOutCirc'});">
				<p>
					<i class="fa fa-arrow-up">
					</i>
				</p>
			</a>
			<p class="small">
				&copy; 2014 Subledger
			</p>
		</div>
	</div>
</footer>
