<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Subledger | {% if page.title %}{{ page.title }}{% endif %}</title>

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<link rel="canonical" href="{{site.baseurl | relative_url }}/{{ page.url }}">

	<!-- Typekit Fonts -->
	<link rel="stylesheet" href="https://use.typekit.net/quh0hdu.css

	<!-- CSS & Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ "/bower_components/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/bower_components/bootstrap/dist/css/custom.css" | relative_url }}">

	<!-- Fontawesome -->
	<link rel="stylesheet" href="{{ "/node_modules/@fortawesome/fontawesome-pro/css/all.min.css" | relative_url }}">

	<!-- AnimateScoll -->
	<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | relative_url }}"></script>
	<script src="{{ "/bower_components/animatescroll/animatescroll.js" | relative_url }}"></script>

	<!-- Bootstrap JavaScript: Needs to load last or else mobile menu fails! -->
	<script src="{{ "//bower_components/bootstrap/dist/js/bootstrap.min.js" | relative_url }}"></script>

    {% if page.url == 'blog/index.html' %}
    {% else %}

	<!-- Addthis JavaScript -->
    <script>var addthis_config = {"data_track_addressbar":true};</script>
	<script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4eee2aa859a7846d"></script>
    {% endif %}

</head>
